.wrapper {
    width: 60%;
    border-radius: 20px;
    box-shadow: 1px 1px  1px rgba(129, 126, 126, 0.226);
    margin: auto;
    /* margin-bottom: 2em; */
    padding: 2em  3em; 
    text-align: center;
    color: var(--blue);
    position: relative;
    z-index: 30;
    background-color: #FFFFFF;
   
}

.subwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

.wrapper input {
    border:none;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.61);
    border-radius: 20px 0px 0px 20px;
    padding: 0.8em 6em;
    
}

.wrapper button {
    padding: 0.89em 1em; 
    border:none;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.61);
    color: white;



}

@media screen and (max-width:998px) {
    .wrapper {
        width: 95%;
        border:none ;
        border-radius: 20px;
        box-shadow: 0px 0px  0px rgba(248, 245, 245, 0.034);
        margin: auto;
        /* padding: 0em  0em;  */
       
    }

    .subwrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper input {
        border-radius: 20px;
        padding: 0.7em 1em; 
        margin-bottom: 1em;
    
    
        
    }

    .wrapper button {
        padding: 0.7em 1em; 
    
        border:none;
        border-radius: 20px;
        box-shadow: 0px 0px  0px white;
    
    
    
    
    }
}